.toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--light);
    border-radius: 1rem;
    position: relative;
   padding: 2px;
   cursor: pointer;
}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--light);
}
.t-button{
  position: absolute;
    background-color: var(--light);
    border-radius: 1rem;
}